.title {
  text-align: center;
  padding-top: 20px;
}

.container1 {
  align-items: center;
  margin: auto;
}

.accordion1 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  height: 100px;
  text-align: center;
}

/* Add a background color for click and hover */
.active, .accordion1:hover {
  background-color: #ccc;
}

.panel1 {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#map {
  height: 250px;
  width: auto;
  margin: auto;
      }
